{% extends "index.html" %}
{% load staticfiles %}
  {% block page-content %}
  <script src="{% static "tinymce/js/tinymce/tinymce.min.js" %}"></script>
  <script>

  tinymce.init({
  selector: "textarea",
  height: 200,
  plugins: [
    "advlist autolink autosave link image lists charmap print preview hr anchor pagebreak spellchecker",
    "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
    "table contextmenu directionality emoticons template textcolor paste fullpage textcolor colorpicker textpattern"
  ],

  toolbar1: "newdocument fullpage | bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | styleselect formatselect fontselect fontsizeselect",
  toolbar2: "cut copy paste | searchreplace | bullist numlist | outdent indent blockquote | undo redo | link unlink anchor image media code | insertdatetime preview | forecolor backcolor",
  toolbar3: "table | hr removeformat | subscript superscript | charmap emoticons | print fullscreen | ltr rtl | spellchecker | visualchars visualblocks nonbreaking template pagebreak restoredraft",

  menubar: false,
  toolbar_items_size: 'small',

  style_formats: [{
    title: 'Bold text',
    inline: 'b'
  }, {
    title: 'Red text',
    inline: 'span',
    styles: {
      color: '#ff0000'
    }
  }, {
    title: 'Red header',
    block: 'h1',
    styles: {
      color: '#ff0000'
    }
  }, {
    title: 'Example 1',
    inline: 'span',
    classes: 'example1'
  }, {
    title: 'Example 2',
    inline: 'span',
    classes: 'example2'
  }, {
    title: 'Table styles'
  }, {
    title: 'Table row 1',
    selector: 'tr',
    classes: 'tablerow1'
  }],

  templates: [{
    title: 'Test template 1',
    content: 'Test 1'
  }, {
    title: 'Test template 2',
    content: 'Test 2'
  }],
  content_css: [
    '//fast.fonts.net/cssapi/e6dc9b99-64fe-4292-ad98-6974f93cd2a2.css',
    '//www.tinymce.com/css/codepen.min.css'
  ]
});
    </script>

<div class="col-full-content">
  <div class="saya">
    <div class="main">
      <div class="box type-saya">
        <div class="clearfix typo content">
          <br><br><br>
          <form method="post" action="/bbs_sub/">
            <h1>选择分类</h1>
            <select  name="bbs_pub_cate" >
              {% for cate in category %}
                  <option value={{cate.id}}>{{cate}}</option>
              {% endfor %}
            </select>
            <h1>标题</h1>
            <textarea name="bbs_pub_title"></textarea>
            <h1>哔哔一下</h1>
            <textarea name="bbs_pub_content"></textarea>
            <p></p>
            <input type="submit" name="bbs_submit" id = "id_submit"></input>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
